.container-feature {
    background-color: #fff;
    min-height: 700px;
    padding-bottom: 32px;
}

/* css trùng */
.container-feature .heading-feature,.heading4-paragraph,.paragraph-content {
    font-style: normal;
    line-height: normal;
}

.container-feature .heading4-paragraph, .paragraph-content {
    font-family: Poppins;
}

/* css heading */
.container-feature .heading-feature {
    color: #0DC5AE;
    font-family: Lora;
    font-size: 40px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 40px;
}

.container-feature .heading4-paragraph {
    color:  #FF0054;
    font-size: 24px;
    font-weight: 600;
}

/* css paragraph */
.container-feature .paragraph-content {
    color: #212B36;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
}