.homepage {
    background-color: #F9F0EC;
    padding-top: 96px;
    min-height: 720px;
}

/* heading */
.homepage .heading-homepage {
    font-size: 64px;
    font-weight: 700;
    background: linear-gradient(to right, #0bd5be, #ff0659);
    -webkit-background-clip: text;
    color: transparent;
    text-align: start;
}

/* paragraph */
.homepage .paragraph {
    display: flex;
    width: 80%;
    color: #637381;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* input */
.homepage .input-search {
    margin-top: 40px;
    width: 80%;
}